{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

{% include  "header.html.twig"%}

<form method="post">
    <div class="container col-lg-2" style="margin-top: 150px" >
        <h1 class="h3 mb-3 font-weight-normal" style="margin-left: 90px"><em>Log in</em></h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <br><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <br><label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <br><div class="checkbox mb-4">
            <label>
                <input type="checkbox" name="_remember_me">  Remember me
                <a href="/register"> Create new profile</a>
            </label>
            </div>

        <button class="btn btn-lg btn-primary" style="margin-left: 85px" type="submit">
            Log in
        </button>
    </div>
</form>

{% include  "footer.html.twig"%}

{% endblock %}