.footer {
    position: fixed;
    bottom: 0;
}
.name_footer{
    background-color: rgb(52,58,64);
    height: 60px;
    width: 100%;
}
.text{
    text-align: center;
}
.footer_name{
    font-size: 21px;
    color: antiquewhite;
}
.open-slide
{
    margin-top: -3px !important;
}
html,
body{
    height: 100%;
}

main {
    flex: 1 0 auto;}