.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.den{
    background-color: rgb(52,58,64);
    height: 60px;
    width: 100%;
}
.text{
    text-align: center;
}
.footer_name{
    font-size: 21px;
    color: antiquewhite;
}
.mr-auto {
    margin-top: 5px !important;
}
.ml-auto {
    margin-top: 5px !important;
}
.open-slide
{
    margin-top: -3px !important;
}