{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block head_css %}
{% endblock %}
{% block body %}

    {% include  "header.html.twig"%}
    <main>



    </main>



    {% include  "footer.html.twig"%}

{% endblock %}