{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}


{% block body %}

{% include  "header.html.twig"%}


    <div style="margin-left: 7%" class="homepage_container">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    Post
                </div>
            </div>
            <div>
                <h3 class="headline">
                    Blogger tusa
                </h3>
                <span class="teaser badge badge-secondary">teaser</span>
                <span class="tags badge badge-secondary">tags</span>
                <div class="box">
                    <div>
                        <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-right: 6%" class="homepage_container">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    Post
                </div>
            </div>
            <div>
                <h3 class="headline">
                    Blogger tusa
                </h3>
                <span class="teaser badge badge-secondary">teaser</span>
                <span class="tags badge badge-secondary">tags</span>
                <div class="box">
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="second_homepage">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    Post
                </div>
            </div>
            <div>
                <h3 class="headline">
                    Blogger tusa
                </h3>
                <span class="teaser badge badge-secondary">teaser</span>
                <span class="tags badge badge-secondary">tags</span>
                <div class="box">
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div style="margin-left: 7%" class="homepage_container">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    Post
                </div>
            </div>
            <div>
                <h3 class="headline">
                    Blogger tusa
                </h3>
                <span class="teaser badge badge-secondary">teaser</span>
                <span class="tags badge badge-secondary">tags</span>
                <div class="box">
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-right: 6%" class="homepage_container">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    Post
                </div>
            </div>
            <div>
                <h3 class="headline">
                    Blogger tusa
                </h3>
                <span class="teaser badge badge-secondary">teaser</span>
                <span class="tags badge badge-secondary">tags</span>
                <div class="box">
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="second_homepage">
    <div class="project project-default">
        <div class="shape">
            <div class="shape-text">
                Post
            </div>
        </div>
        <div>
            <h3 class="headline">
                Blogger tusa
            </h3>
            <span class="teaser badge badge-secondary">teaser</span>
            <span class="tags badge badge-secondary">tags</span>
            <div class="box">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonвцйвцйвйцвцвй йвцвйцв цйв йцвйцummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



    {% include  "footer.html.twig"%}

{% endblock %}