{% extends 'base.html.twig' %}

{% block body %}

        <div class="footer name_footer">
            <table width="100%" style="height: 45px;">
                <tr>
                    <td class="text align-bottom">
                        <span class="footer_name"> © 2019 BloggerClub</span>
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}