{% extends 'base.html.twig' %}

{% block body %}

        <div class="footer">
            <table width="100%" style="height: 45px;">
                <tr>
                    <td class="footer_text align-bottom">
                        <span class="footer_name">{% trans %} © 2019 BloggerClub {% endtrans %}</span>
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}