{% extends 'base.html.twig' %}

{% block body %}

        <div class="footer den">
            <table width="100%" style="height: 45px;">
                <tr>
                    <td class="text align-bottom">
                        <span class="footer_name">BloggerClub, 2019</span>
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}