.shape{
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}

.project {
    height: 300px;

 }

.project{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); overflow:hidden;
    padding: 10px;
}


.project-default {    border-color: #999999; }
.project-default .shape{
    border-color: transparent #999999 transparent transparent;
    border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}

.headline
{
    font-size:30px;
    font-family: BlinkMacSystemFont ;
}
.teaser{
    display: block;
    font-size: 17px;
 }
.tags{
    background-color: #343A40;
 }
.homepage_container{
    float: left;
    width: 25%;
    margin-top: 3%;
    margin-left: 6%;

}
.second_homepage{
     margin-left: 59%;
    width: 34%;
    margin-top: 3%;
}